<!DOCTYPE html>
<html>
  <head>
    <title>Convert PNG to ISO</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/4a40aff2-7f71-432a-ab53-96c57e01ef77%2Fico.ico?1493295392230" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Convert PNG to ICO
      </h1>
    </header>

    <main>
      <p>Give me your PNG</p>
      <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="icon">
        <button type="submit">Submit</button>
      </form>
    </main>

    <footer>
      <a href="https://glitch.com/edit/#!ico">
        Remix this in Glitch
      </a>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
